<form>

    <div class="circle">
      {{svg-jar "avatar-loading"}}
      {{input type="file" id="image" value=image class="upload"}}
    </div>

    <div class="add-user-body-div">
      <div>

        <div class="label-tag important">First Name</div>
        {{input
          type="text"
          class="user-input"
          id="firstName"
          required="true"
          value=firstName
        }}

        <div class="label-tag important">Email</div>
        {{input
          type="text"
          class="user-input"
          id="email"
          required="true"
          value=email
        }}

        <div class="label-tag">Designation</div>
        {{input
          type="text"
          class="user-input"
          id="design"
          required="true"
          value=designation
        }}

      </div>

      <div>

        <div class="label-tag important">Last Name</div>
        {{input
          type="text"
          class="user-input"
          id="lastName"
          required="true"
          value=lastName
        }}

        <div class="label-tag">Date of joining</div>
        {{bs-datetimepicker date=mydate format='YYYY-MM-DD'}}
        {{!-- {{input
          type="text"
          class="user-input"
          id="firstName"
          required="true"
          value=firstName
        }} --}}

        <div class="label-tag">Team</div>
        {{!-- {{#power-select selected= this.team options= this.teams onChange=(action "chooseTeam" this.team)   as |name| }}
           {{name}}
        {{/power-select}} --}}

      </div>
    </div>
  </form>