<div class="action-icon">
  {{#link-to "users.edit" user (query-params isUserRoute="true") class=user.id }}{{svg-jar "edit" class="edit"}}{{/link-to}}

  <a class="init-del" onclick={{action "initiateDel"}}> {{svg-jar "trash"  class="trash"}} </a>

</div>
{{user-avatar user=user class= 'circle-div'}}

<strong class="name">{{user.first_name}} {{user.last_name}}</strong>
<p class="email">{{user.email}}</p>

{{#if this.popUp}}

  <BsModal @onSubmit={{action "deleteUser" user}} as |Modal|>
   
    <Modal.body class="popup-body">
      <span>
          {{svg-jar "tick-round" class="tick-round"}}
      Do you wish to remove this employee from
     <div style="padding-left: 34px;">freshteam</div>
      </span>

      <div>
           <BsButton class="stop-del" @onClick={{action Modal.close}}   @onClick={{action "initiateDel"}} @type="danger">Cancel</BsButton>
      <BsButton class="del-confirm apply" @onClick={{action Modal.submit}} @type="success">Delete</BsButton>
      </div> 
    
    </Modal.body>
   
  </BsModal>

{{/if}}