<div class="action-icon">
  {{#link-to "users.edit" user class=user.id}}{{svg-jar "edit"}}{{/link-to}}

  <a class="init-del" onclick={{action "initiateDel"}}> {{svg-jar "trash"}} </a>

</div>
{{user-avatar user=user}}

<strong class="name">{{user.first_name}} {{user.last_name}}</strong>
<p class="email">{{user.email}}</p>



{{#if this.popUp}}

  <BsModal @onSubmit={{action "deleteUser" user.id}} as |Modal|>
    <Modal.header>
      <h4 class="modal-title"><i class="glyphicon glyphicon-alert"></i>
        Alert</h4>
    </Modal.header>
    <Modal.body>
      Are you absolutely sure you want to do that???
    </Modal.body>
    <Modal.footer as |footer|>
      <BsButton @onClick={{action Modal.close}}   @onClick={{action "initiateDel"}} @type="danger">Cancel</BsButton>
      <BsButton class="del-confirm" @onClick={{action Modal.submit}} @type="success">Delete</BsButton>
    </Modal.footer>
  </BsModal>

{{/if}}